.footer {
    background-color: #333333;
    color: #FFFFFF;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input {
    border-radius: 30px;
    color: #AAAAAA;
    padding: 12px 20px;
    width: 21.5rem;
}

.footer-social span {
    margin-bottom: 16px;
    display: block;
}

.footer-icons {
    display: flex;
    gap: 1.25rem;
}

.footer-icons a:hover img {
    opacity: 0.7;
}

.footer-links {
    display: flex;
    gap: 2.5rem;
}

.footer-links strong {
    color: #EDEDED;
    font-weight: 400;
}

.footer-links li a {
    color: #FFFFFF;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.footer-divider {
    width: 94%;
}

.footer-copyright {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-newsletter input {
        width: 19.5rem;
    }

    .footer-links {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-icons {
        gap: 1rem;
    }
}