.header {
    background-color: #FFFFFF;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 16px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.header .nav-center ul, .nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header .nav-center a, .nav-right a {
    font-size: 1.25rem;
    color: #333333;
}

.header .nav-center a:hover, .nav-right a:hover {
    color: #7C3AED;
}

.header .nav-right img {
    height: 20px;
}

.header .nav-right a:hover img {
    opacity: 0.7;
}