.header {
    background-color: #FFFFFF;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 1260px;
    border-radius: 16px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.header .nav-center ul, .nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header .nav-center a, .nav-right a {
    font-size: 1.25rem;
    color: #333333;
}

.header .nav-center a:hover, .nav-right a:hover {
    color: #7C3AED;
}

.header .nav-right img {
    height: 20px;
}

.header .nav-right a:hover img {
    opacity: 0.7;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex: 1;
    margin-left: 10rem;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .header {
        width: calc(100% - 40px);
    }

    .menu-icon {
        display: block;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        flex-direction: column;
        padding: 80px 20px 20px;
        background-color: #FFFFFF;
        gap: 1rem;
        transition: right 0.3s ease;
    }

    .nav-center, .nav-right {
        width: 100%; 
    }
    
    .header .nav-center ul, .nav-right ul {
        flex-direction: column;
        gap: 1rem;
    }

    .header .nav-center li, .nav-right li {
        width: 100%;
        text-align: center;
    }

    .header .nav-center a, .nav-right a {
        border-bottom: 1px solid #EEEEEE;
        padding: 0.3rem 0;
        font-size: 1rem;
        display: block;
    }

    .menu-toggle:checked ~ .nav-container {
        right: 0;
    }
}