.hero-section {
    background: url(../../images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6.25rem;
}

.hero-content {
    color: #FFFFFF;
    max-width: 388px;
    text-align: center;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-content .hero-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-content .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-filled {
    background-color: #FFFFFF;
    color: #6329A2;
}

.btn:hover {
    background-color: #6329A2;
    color: #FFFFFF;
    border-color: #6329A2;
}