.sneaker-categories-section {
    padding: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card {
    position: relative;
    width: 313px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.casual {
    background: url(../../images/products/casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte {
    background: url(../../images/products/esporte.jpg) no-repeat center;
    background-size: cover;
}

.moderno {
    background: url(../../images/products/moderno.jpg) no-repeat center;
    background-size: cover;
}

.futurista {
    background: url(../../images/products/futurista.jpg) no-repeat center;
    background-size: cover;
}

@media (max-width: 500px) {
    .category-card {
        width: 100%;
    }

    .sneaker-categories-section {
        padding: 20px 0 20px 0;
        gap: 15px;
    }
}