.featured-products-section {
    display: grid;
    grid-template-areas: "banner product-lg product-lg"
                         "banner model product-sm-1"
                         "product-md model product-sm-2";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    margin: 40px 0 40px 0;
}

.card.banner {
    grid-area: banner;
    position: relative;
}

.product-large {
    grid-area: product-lg;
}

.product-medium {
    grid-area: product-md;
}

.model {
    grid-area: model;
}

.product-small-1 {
    grid-area: product-sm-1;
}

.product-small-2 {
    grid-area: product-sm-2;
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.card.banner .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.card-content .card-title {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.card-content .card-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

.card-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .featured-products-section {
        margin-bottom: 0;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "banner banner"
                             "product-md product-md"
                             "model product-sm-1"
                             "model product-sm-2"
                             "product-lg product-lg";
        max-width: 100%;
        gap: 0.625rem;
    }

    .banner {
        min-height: 500px;
    }

    .product-medium, .product-large {
        min-height: 190px;
    }

    .model {
        min-height: 370px;
    }


}